<div class="container">
  <div class="diamond runners">
    <div class="base third-base {{if model.isOnThirdBase 'active'}}"></div>
    <div class="base second-base {{if model.isOnSecondBase 'active'}}"></div>
    <div class="base first-base {{if model.isOnFirstBase 'active'}}"></div>
  </div>
<div class="last-play">
  <p class="copy">
    <strong>Last Play</strong>: {{model.playByPlay.last}}
  </p>
</div>
