// Header

[role="banner"] {
  margin-top: 15px;
  margin-bottom: 25px;
  max-width: 1024px;
  width: 100%;

  & > a {
    display: flex;
    justify-content: center;

    @include breakpoint(large) {
      align-items: center;
      justify-content: flex-start;
    }
  }

  .site-logo {
    width: 78px;
    height: 65px;

    & + .heading-site {
      @include breakpoint(medium) {
        margin-left: 15px;
      }
    }
  }

  .heading-site {
    display: none;

    @include breakpoint(large) {
      display: block;
    }
  }
}
