// Header

[role="banner"] {
  margin-top: 15px;
  margin-bottom: 25px;
  max-width: 1024px;
  width: 100%;
  & > a {
    display: flex;
    align-items: center;
  }

  .site-logo {
    width: 78px;
    height: 65px;
    & + .heading-site {
      margin-left: 15px;
    }
  }
}
