/*
  Due Up Component
*/

// Component
[data-component="due-up"] {
  @extend %flex-column;
  flex: 1;

  // Header containing component title
  .due-up-header {
    padding: 5px 0;
  }

  .due-up-batters {
    @extend %flex-column;
    flex: 1;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .batter {
    @extend %flex-row;
    flex: 1;
    align-items: center;
    align-content: space-between;
    & > .avatar {
      margin-right: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
      @include breakpoint(medium) {
        margin: 0;
      }
    }
  }

  .player-data {
    @extend %flex-row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(medium) {
      justify-content: flex-start;
      flex-wrap: wrap;
      p {
        flex-basis: 100%;
      }
    }
  }

  .avatar {
    @include croppedImage(40px);
  }
}
