/*
  Game Wrapup component – Displays the winning, losing, and (if applicable) save pitchers of the specific game, as well as their season win-loss record, ERA, and (if applicable), saves count.
*/

// Component
[data-component="wrapup"] {
  @extend %flex-column;
  flex: 1 1 100%;
  padding-right: 10px;
  padding-left: 10px;
  @include breakpoint(medium) {
    flex-basis: 0;
  }

  // Container for winning, losing, and save pitcher
  .players {
    @extend %flex-column;
    flex: 1;
    padding-top: 5px;
    padding-bottom: 10px;
    @include breakpoint(medium) {
      justify-content: space-around;
    }
  }

  // Individual pitchers of record
  [class*="-pitcher"]:not(:last-child) {
    margin-bottom: 10px;
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  // Container for pitcher's avatar and metadata
  .player {
    @extend %flex-row;
    flex: 1;
    & > .avatar {
      margin-right: 10px;
    }
  }

  // Container for pitcher's metadata
  .player-data {
    @extend %flex-row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
  }

  // Pitcher avatar – Hidden on small via class
  .avatar {
    @include croppedImage(30px);
  }
}
