// Images - A collection of standarized image patterns

.image-container {
  img {
    width: 100%;
    height: auto;
    &.img-static {
      width: auto;
    }
  }

  // Avatar - Used primarily for player photos
  &.avatar {
    @include croppedImage;
  }
}
