// Utilities

// Layout classes
.block-center {
  margin: 0 auto;
}

.flex-wrapper {
  @extend %flex-row;
  flex: 1;
  flex-wrap: wrap;
  flex-basis: 100%;
}

// Display classes
.small-hidden {
  display: none !important;

  @include breakpoint(medium) {
    display: flex !important;
  }
}
